<!DOCTYPE html>

<html lang="en">

    <head>
        <!-- Per David's guidance, adapted from PSet8's Distribution code -->

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
        <link href="/static/favicon.ico" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">

        <!-- Google Add to HomeScreen Manifest requirement-->
        <!-- https://developers.google.com/web/fundamentals/app-install-banners/ -->
        <link rel="manifest" href="/static/manifest.json">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <title>Mental Health Support: {% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="/">Mental Health Support</a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                {% if session.user_id %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/read">Read</a></li>
                        <li class="nav-item"><a class="nav-link" href="/write">Write</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                        <!-- https://www.w3schools.com/tags/att_font_color.asp -->
                        <!-- Used CSS to make this list item red as a call-out. -->
                        <!-- https://stackoverflow.com/questions/991160/how-to-make-my-font-bold-using-css -->
                        <li class="nav-item"><a class="nav-link" href="/help" style="color:red; font-weight:bold">Get Help</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                    </ul>

                <!-- These options below only appear when user is logged-in -->
                {% else %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="/help" style="color:red; font-weight:bold">Get Help</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <!-- Looked this up: https://getbootstrap.com/docs/4.0/utilities/spacing/ -->
        <main class="container p-5">
            {% block main %}{% endblock %}
        </main>

        <footer class="small text-center text-muted">
            <a href="http://linkedin.com/in/bmwatson13">A CS50 Final Project <br>By Brian Watson! (2018)</a>
        </footer>

    </body>

</html>
